html{
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url(http://media.architecturaldigest.com/photos/57912afe46eb3e65136a5224/master/pass/GettyImages-541049266.jpg) no-repeat 50% 50% ;
    background-size: cover;
    display: table;
}

.navbar{
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.0);
    background: rgba(0, 0, 0, 0.3);
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
       
}
.nav{
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;    
}
ul{ 
    list-style: none;
         
}
li{
    display: inline-block;
    padding-left: 8%;
    padding-right: 8%;

}
li a{
    text-decoration: none;
    color: rgb(248, 248, 248);
    font-family:  sans-serif;
    font-weight: bold;
    transition: 1s;   
    
    /* padding-bottom: 0;
    padding-right: 1.1em;
    padding-left: 10px; */
    
}
li a:hover{
   
    color: rgb(77, 190, 238);
    transition: 1s;
    cursor: pointer;
}
/* .names{
    padding: 20px 50px 0px 5px;
} */
/* input[type='text']{
    width: 700px;
    height: 50px;
    border-radius: 20px;
    border: 5px solid greenyellow;
    outline: none;

}
input[type="text"]:focus{
    box-shadow: 0 10px 10px 0px dodgerblue;
}
input[type="text"]:hover{
    box-shadow: 0 10px 10px 0px rebeccapurple;
    background-color: springgreen; */
/* } */
